# PHPStan is not run on Drupal CI yet, so this file is just a helper for
# manually running PHPStan.
parameters:
  level: 1
  fileExtensions:
    - inc
    - install
    - module
    - php
    - theme
  paths:
    # Just this part is enabled for checking for now, expand later.
    - lib/Drupal/Component
  # PHPStan cannot find files in this test directory automatically.
  scanDirectories:
    - tests/Drupal/Tests
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static\\(\\)\\.$#"
    # Local variables created from including a PHP file, we cannot fix that.
    -
      message: "#^Undefined variable\\: \\$overrides$#"
      count: 1
      path: lib/Drupal/Component/Transliteration/PhpTransliteration.php
    -
      message: "#^Variable \\$overrides in isset\\(\\) is never defined\\.$#"
      count: 1
      path: lib/Drupal/Component/Transliteration/PhpTransliteration.php
    -
      message: "#^Undefined variable\\: \\$base$#"
      count: 1
      path: lib/Drupal/Component/Transliteration/PhpTransliteration.php
    -
      message: "#^Variable \\$base in isset\\(\\) is never defined\\.$#"
      count: 1
      path: lib/Drupal/Component/Transliteration/PhpTransliteration.php
    # Drupal core bug, see https://www.drupal.org/project/drupal/issues/3186626
    -
      message: "#^Variable \\$proxy_class_shortname might not be defined\\.$#"
      count: 1
      path: lib/Drupal/Component/ProxyBuilder/ProxyBuilder.php
    # Usage of getFallbackPluginId() is ok here and guarded by an interface
    # check in the related method.
    -
      message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginManagerBase\\:\\:getFallbackPluginId\\(\\)\\.$#"
      count: 1
      path: lib/Drupal/Component/Plugin/PluginManagerBase.php
    # DiffEngine is third party legacy code where we want to ignore some
    # undefined variable/property errors.
    -
      message: "#^Access to an undefined property Drupal\\\\Component\\\\Diff\\\\Engine\\\\DiffEngine\\:\\:#"
      path: lib/Drupal/Component/Diff/Engine/DiffEngine.php
    -
      message: "#^Variable .+ might not be defined\\.$#"
      path: lib/Drupal/Component/Diff/Engine/DiffEngine.php
